*, *::before, *::after {
    box-sizing: border-box;
}

body {
    /* background: #fcf6f0; */
    font-family: HiraginoSans-W3, "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Verdana, sans-serif;
}

.nav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 240px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    /* background-color: #fcf6f0; */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

#homepage {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 30px;
    color: #0c0202;
    display: block;
}

.nav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #383232;
    display: block;
}

section a {
    color: #383232;
    text-decoration: none;
}

section a:hover {
    color: #5c5c5c;
}

.main {
    font-size: 25px;
}

.secondary {
    font-size: 20px;
    opacity: 0.75;
}

.content {
    display: block;
    max-width: 50rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
}

#victor-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
}

.tic-tac-toe-grid {
    background: black;
    width: 40%;
    position: relative;
    margin: auto;
}

.tic-tac-toe-grid::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.grid-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.square, .square2 {
    background: powderblue;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 5vw
}

#top-left, #top-middle, #top-right {
    border-top: 1px solid grey;
}

#top-left, #middle-left, #bottom-left {
    border-left: 1px solid grey;
}

#bottom-left, #bottom-middle, #bottom-right {
    border-bottom: 1px solid grey;
}

#top-right, #middle-right, #bottom-right {
    border-right: 1px solid grey;
}